{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{% static 'webpage/style.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML CSS Example</title>
</head>

<body>
    <header>
        <h1>Welcome to Test Page of Webpage App</h1>
    </header>

    <main>
        <p>This is a paragraph of text styled with CSS.</p>
        <div class="box">
            <h2>A Styled Box</h2>
            <p>This box has a background color, padding, and a border.</p>
        </div>
    </main>

    <footer>
        <p>&copy; 2025 Basic Example</p>
    </footer>
</body>

</html>